.description__container-right {
    width: 50%;
    height: 100%;
    padding: 50px;
}

.description__container-right h4,
.description__container-right h1 {
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 600;
}

.description__container-right p {
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-size: 14px;
}

.description__container-right-button {
    width: max-content;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
}


.description__container-right-button:hover {
    transition: 0.2s;
    background-color: black;
    color: white;
}
